<% if users.present? %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="users">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
<!--              <div class="user-profile">-->
<!--                <div class="icon text-center">-->
<!--                  <img src="<%#= gravatar_url(@users) %>" alt="" >-->
<!--                </div>-->
<!--            </div>-->
            <div class="panel-body">
              <div class="name text-center">
                <%= link_to user.name, user_path(user) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<% end %>
