<% content_for :cover do %>

<div class="cover">
    <div class="cover-inner">
        <div class="cover-contents">
        <a herf="" class="btn btn-success btn-lg">本棚を作る</a>

        </div>
    </div>
</div>

<% end %>

<p>テスト</p>